header {
    width: 96%;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19.6px;
line-height: 29px;
text-align: center;

color: #FFFFFF;

    & .item {
        display: flex;
        align-items: center;
    }
}